
body {
    font-family: 'Kadwa', serif;
    padding: 0;
    margin: 0;
}

input[type="date"] {
    cursor: pointer;
}

div.contenedor {
    max-width: 1400 px;
    margin: 0px auto;
    font-weight: bolder;

}

/******************Header - Menu Hamburguesa*********************/

header{
    display: flex;
    place-content: space-between;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    z-index: 99999;
}
header p {
    padding: 0 0.5em;
    margin: 0;
}
header div.contenedorHeader {
    text-align: center;
    display: flex;
    margin: 0px ;
    font-weight: bolder;
    max-width: 1500px; 
    /*padding: 0px 100px; */
    border: 0px;
    place-content: flex-start; 

}
header div.contenedorHeader nav{
    width: 70%;
    display: flex;
    place-content: space-between;
    background: rgb(255, 255, 255);
    padding: 0 100px 0 100px;
    height: 100%;
}

#menu, #menuCheck {
    display: none;
}

.contenedorHeader h1 {
    height: 100%;
    position: relative;
    margin: 0;
    margin: 0%;
    padding: 0px;
    font-size: 2.5em;
    align-items: center;
    display: flex;
}

header div.contenedorHeader nav .menusCambian li:hover{
    background-color: #efefef;
    border-bottom: 10px solid #2EB6E1;
    transition: all 300ms ease;

}
header div.contenedorHeader nav .menusSuperponen {
    display: flex;
    align-items: center;
    margin-left: 50px;
}


header h1>span {
    color: #2EB6E1;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    place-content: space-between;
    
}
header a {
    color: black;
    text-decoration: none;
    padding: 1em;
}

header li {
    padding: 1em;
}
#iconUser {
    display: none;
  }
#iconHelp{
    display: none;
  }


/*********mediaqueries header************/

@media only screen and (max-width: 970px){
    header{
        place-content: flex-start;
    }
    header h1{
        margin:0;
    }
    header h1 a {
        padding: 0;
    }

    header div.contenedorHeader{
        width: 100%;
        display: flex;
        place-content: space-between;
        padding: 0% 10%;
        align-items: center;
    }
    header div.contenedorHeader nav{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
        background: rgb(0, 0, 0);
        padding-top: 10em;
        padding-right: 1.5em;
        opacity: 0.8;
        color: white;
        z-index: 999;
        padding-left: 0;
        display: flex;
        place-content: space-between;
    }

    header div.contenedorHeader nav .menusCambian {
        opacity: 0.8;
        color: black;
        width: 100%;
    }

     #menuCheck:not(:checked) ~ nav {
        display: none;
    }
    #menuCheck:checked ~ nav {
        display: block;
    } 
    #menu{
        width: 60px;
        height: 60px;
        text-align: center;
        display: block;
        color: white;
        background: #2EB6E1;
        font-size: 2em;
        font-weight: bold;
        border: 1px solid 2EB6E1 ;
        border-radius: 0.2em;
        /* margin-top: 1%; */
       padding: 0;
        z-index: 9999;
    }
 
    #menu:hover{
        color: white;
        background-color: #51c0e2;
        cursor: pointer;
    }
    #menuCerrar{
        display: none;
    }
    #menuCheck:checked ~ label #menuAbrir {
        display: none;
    }
    #menuCheck:checked ~ .caja {
        display: none;
    }
    #menuCheck:checked ~ label #menuCerrar {
        display: block;
    }

    header div.contenedorHeader nav ul a{
        color: white ;
        padding: 0;
        margin: 0;
    }
    header div.contenedorHeader nav ul a:hover{
        color: white ;
        padding: 0;
        margin: 0;
    }

    .menusCambian li{
        width: 92%;
    }
    
    header div.contenedorHeader nav ul, header div.contenedorHeader nav .menusCambian ul li{
        display: block;
        text-align: right;
        font-size: 1.2em;
        width: 100%;
    }
    header div.contenedorHeader nav ul, header div.contenedorHeader nav .menusSuperponen ul li{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: right;
        font-size: 1.2em;
    }

    header div.contenedorHeader nav .menusSuperponen{
        display:flex;
    align-items: end;
        margin-top: 100px;
    }
    header div.contenedorHeader .menusCambian li:hover{
        background: rgba(180, 180, 180, 0.514);
        border: 0;
    }



}








 /**para que no se rompan los botones al achicar**/
 
 @media only screen and (max-width: 1300px) and (min-width: 971px){
    header div.contenedorHeader nav{
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 100%;
        padding-right: 0;
        height: 100%;
        margin-right: 3%;
        padding-left: 4%;
    }
    

    header div.contenedorHeader {
        display: flex;
        margin: 0px ;
        font-weight: bolder;
        width: 100%;
        margin-left: 20px;
       border: 0px;
       padding-right: 0;
        place-content: flex-start; 
        align-items: center;
    }
    header div.contenedorHeader nav .menusCambian{
        display: flex;
        align-items: center;     
        padding: 0;
        height: 100%;
        width: 100%;
    }
    header div.contenedorHeader nav .menusCambian li { 
        height: 75%;
        width: 100%;
        padding-top: 4%;
    }

    header div.contenedorHeader nav .menusSuperponen{
        display: flex;
        padding: 0;
        width: 20%;
        justify-content: end;
    }
    header a{
        padding-top: 10px;
    }
    header li {
        padding: 0 0.5em;
        }

      #iconUser {
        display: block;
        padding: 0.6em;
      }
      #iconHelp {
        display: block;
        padding: 0.6em;
      }

      #botonAyuda {
        border: 12px solid gray;
        color: gray;
        font-weight: bolder;
        border-radius: 3em;
        font-size: 1em;
        padding: 10em;
        display: inline-block;
      }
    
      header p {
        padding: 0;
        margin: 0;
        display: none;
      }
    






} 





/********botones header*******/
#botonAyuda {
    border: 2px solid gray;
    color: gray;
    font-weight: bolder;
    border-radius: 3em;
    font-size: 1em;
    padding: 0em 0em;
    display: inline-block;
}

#botonAyuda:hover {
    border: 2px solid gray;
    background: grey;
    color: white;
    font-weight: bolder;
    border-radius: 3em;
    font-size: 1em;
    padding: 0em 0em;
    display: inline-block;
}

#botonInic {
    border: 2px solid rgba(46, 182, 225, 1);
    color: rgba(46, 182, 225, 1);
    font-weight: bolder;
    border-radius: 2em;
    font-size: 1em;
    padding: 0em 0em;
    display: inline-block;
}

#botonInic:hover {
    border: 2px solid rgba(46, 182, 225, 1);
    color: white;
    background: rgba(46, 182, 225, 1);
    font-weight: bolder;
    border-radius: 3em;
    font-size: 1em;
    padding: 0em 0em;
    display: inline-block;
}
#iconHelp{
    color: #808080;
}
#iconHelp:hover{
    color: #fff;
}



/*************inicio cajas pasajes***********/


.contenderPanelPrincipal {
    background-image: url(./imagenes/fernando-tavora-jN8wERXCnkE-unsplash.jpg);
    background-size: cover;
    background-position-y: -80px;
    background-repeat: no-repeat;
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.cajaInvisible{   
    background: #ffffff3d;
    border-radius: 20px;
    padding: 1EM;
    margin: 2%;
}  

.panelViaje {
    width: min-content;
    /* padding: 0px 0px 0px 20px; */
    background-color: #ffffff;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    border-radius: 20px;
    gap: 15px;
    margin: 10px;
    flex-wrap: wrap;
    padding: 1em;
}

.caja {
    padding: 0px;
    text-align: center;
    font-weight: bold;
    color: rgb(105, 105, 105);
}
.caja input{
    background: #FFFFFF;
    box-shadow: -1px -1px 10px 6PX rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: #FFFFFF;
    padding: .5em;
}

.caja h2 {
    padding-left: 15%;
    text-align: left;
    font-size: 2em;
}

.caja1 {
    grid-column: 1 / 4;
    align-items: left;
    padding-left: 0px;
}

.caja2 {
    grid-column: 4 / 7;
    padding-top: 10%;
}
.caja3 {
    grid-column: 1/7;
    padding: 3%;
}

/**fin cajas**/

#botonPasaje {
    cursor: pointer;
    width: auto;
    height: auto;
    background: #2EB6E1;
    border: 1px solid #1693BB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}
#botonPasaje:hover {
    cursor: pointer;
    width: auto;
    height: auto;
    background: #2e8ae1;
    border: 1px solid #1693BB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}


.panelViaje input[type="radio"] {
    display: none;
}

.caja2 label {
    color: #1693BB;
    margin: -3px;
    background: rgb(255, 255, 255);
    padding: 2px 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1em;
    border: 2px solid #2EB6E1;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.caja2 label:hover {
    color: #1693BB;
    margin: -3px;
    background: #ecf8fb;
    padding: 2px 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1em;
    border: 2px solid #2EB6E1;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#izq{
    border-radius: 20px 0px 0px 20px; 
}
#der{
    border-radius: 0px 20px 20px 0px;
}

.caja input[type="radio"]:checked + label {
    padding: 3px 15px ;
    background-color: #2EB6E1 ;
    color: white;
    font-size: 1.1em;
}




/**************cuadrado gris financiacion ************/
.contenedorFin{
    padding: 0;
    margin: 0;
    padding: 0px 100px;
    border: 0px; 
    background-color: rgb(233, 239, 246);
    display: flex;
    justify-content: center; }
.padreFin{
    display: grid;
    grid-template-areas:'miArea . . .';
    padding: 0.5%;
        max-width: 1000px; 
    display: flex;
    justify-content: center; 
    width: 100%;
}  
.padreFin h3{
    color: rgb(105, 105, 105);
    margin: 0;   
}
.hijoFin{
    display: flex;
    justify-content: center;
    padding: 0 5%;
    margin: 0;
    width: 100%;
}
.cajaFin{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    grid-area: miArea;
    padding: 0 35% 0 0;
    
}
.cajaBancos{
    padding: 0 3%;
}
.logo{
    width: 50;
    height: 50px;
}

/*************promociones y top destinos*****************/


 .padreProm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-color: rgb(255, 255, 255);
    padding: 80px;
}

.carrusel{
    width: 15%;
    height: min-content;
    min-width: min-content;
    padding: 1.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    margin: 30px; 



}

.imgCarrusel{
    height: 100%;
    width: 100%;
}
.imgDestino{
    height: 50%;
    width: 100%;
    
}
.textoDestino{
    width: 100%;
    height: 50% ;
    background-color: #ffffff; 
}

.slider-frame {
    background-color: rgb(255, 255, 255);
	width: 100%;
    height: 100%;
	margin:  0;
    padding: 0;
	overflow: hidden;
    border-radius: 25px;
    text-align: center;
}
.slider-frame a{
    text-decoration: none;
    color: gray ;
}
.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
    height: 100%;
    background-color: rgb(255, 255, 255);
	margin: 0;
	animation: slide 20s infinite alternate ease-in-out;
    border-radius: 25px;
}

.slider-frame li {
	list-style: none;
    background-color: rgb(255, 255, 255);
    padding: 0;
    width: 100%;
}

.slider-frame img {
	width: 100%;
    border: #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    height: 100%;

}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}




#botonInfo {
    border: 2px solid rgba(46, 182, 225, 1);
    color: rgba(46, 182, 225, 1);
    font-weight: bolder;
    border-radius: 0.5em;
    font-size:1em;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;

}

#botonInfo:hover {
    border: 2px solid rgba(46, 182, 225, 1);
    color: white;
    background: rgba(46, 182, 225, 1);
    font-weight: bolder;
    border-radius: 0.5em;
    font-size: 1em;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    
}


















/**********************FOOOTER***********************/

.pie-pagina{
    width: 100%;
    background-color: #2EB6E1;
    height: min-content;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 20px 0px;
}

.pie-pagina .grupo-1 .box h1{
    color: #000000;
    margin-bottom: 25px;
    font-size: 50px;
}
.pie-pagina .grupo-1 .box h1 span{
    color: #fff;
    margin-bottom: 25px;
    font-size: 50px;
}




.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
    background-color: #50C6EB;
    border-radius: 5px;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #50C6EB;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}









/************** Media queries & breakpoints*****************/
@media screen and (max-width: 1068px){
    .contenderPanelPrincipal {
        background-image: url(./imagenes/fernando-tavora-jN8wERXCnkE-unsplash.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 0 ;
        padding-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .panelViaje {
        width: min-content;
        padding: 0px 0px 0px 25px;
        background-color: #FFFFFF;
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-radius: 20px;
        gap: 30px;
        margin: 0px;
    }

    .caja {
        padding: 0px;
        text-align: center;
        font-weight: bold;
        color: rgb(105, 105, 105);
    }
    .caja input{
        background: #FFFFFF;
        box-shadow: -1px -1px 10px 6PX rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border: #FFFFFF;
        padding: .5em;
    }
    
    .caja h2 {
        text-align: center;
        font-size: 2em;
        padding: 0;
        margin: 0;
    }
    
    .caja1 {
        grid-column: 1 / 5;
        text-align: center;
        justify-content: center;
        padding-top:  50px ; 
    }
    
    .caja2 {
        grid-column: 1 / 5;
                padding-top: 1%;
    }
    .cajaOri{

                margin-left: 2%;
    }
    element {
        color: #808080;
        display: flex;
        align-items: end;
        padding-bottom: 8px;
      }

    .cajaDes{
        grid-column: 3/4;
        margin-left: 2%;
    }
    .cajaIda{
    grid-column: 1/2;
        display: flex;
        flex-direction: column;
        /* margin: 0 20%; */
        align-items: center;
        width: 100%;
    }
    .cajaVuelta{
        grid-column: 3;
        display: flex;
        flex-direction: column;
        /* margin: 0 20%; */
        display: flex;
        align-items: center;
        width: 100%;
    }
    .cajaCant{
        grid-column: 1/4;
        display: flex;
        align-items: center;
        margin: 0 30%;
    }
    .caja3 {
        grid-column: 1/4;
        padding: 3%;
     
        margin-bottom: 2%;
    }
    input[type="date"] {
        cursor: pointer;
        width: 100%;
        margin: 0;
      }
 

}







