:root {
    --colorTextos: #49454567;
}
body {
    font-family: 'Kadwa', serif;
    padding: 0;
    margin: 0;
}
body {
    background: #1c92d2;
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    background: linear-gradient(to left, #f2fcfe, #1c92d2);
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    padding: 5%;
    margin-bottom: 100px;
}
.padre {
    height: 600px;
     width: auto;
     justify-content: center;
     display: flex;
     padding: 0%; 
}
.form h2 {
    text-align: center;
}
form{
    width: 100%;
}
.form {
    background-color: white;
    padding: 40px 0;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 100%;
    min-width: 500px;
    text-align: center;
}

.form .grupo {
    position: relative;
    margin: 45px;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus {
    outline: none;
    color: #5e5d5d;
}

label {
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to left, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}

button {
    font-family: 'kadwa';
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 80%;
    border: none;
    display: block;
    margin: 10px auto;
    color: white;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #b06ab3;
    padding-top: 20px;
}



@media screen and (max-width:500px) {
    form {
        width: 100%;
    }

}








































/******************Header - Menu Hamburguesa*********************/

header {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}
a{
    text-decoration: none;
}
 h1 {
    color: #000;
    font-size: 3em;
    padding: 0;
    margin: 0;
}
header h1>span {
    color: #2EB6E1;
}


/**********************FOOOTER***********************/

.pie-pagina {
    width: 100%;
    background-color: #2EB6E1;
    height: min-content;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
}

.pie-pagina .grupo-1 .box h1 {
    color: #000000;
    margin-bottom: 25px;
    font-size: 50px;
}

.pie-pagina .grupo-1 .box h1 span {
    color: #fff;
    margin-bottom: 25px;
    font-size: 50px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
    background-color: #50C6EB;
    border-radius: 5px;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #50C6EB;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}
form a{
    color: #2196f3;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    main{
        padding: 10% 0;
    }
    .form{
        width: 100%;
        min-width: 400px;
    }
    .padre{
        width: auto;
    }
}