body {
    background: #fff;
    width: 100%;
    font-family: 'Kadwa', serif;
    padding: 0;
    margin: 0;
}
input[type="date"] {
    cursor: pointer;
}

a{text-decoration: none;}
/******************Header - Menu Hamburguesa*********************/
header {
    display: flex;
    place-content: space-between;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 50px 80px white;
    position: relative;}

header p {
    padding: 0 0.5em;
    margin: 0;
}
header a{
    padding: 0;
    margin: 0;
}

header div.contenedorHeader {
    text-align: center;
    display: flex;
    margin: 0px;
    font-weight: bolder;
    max-width: 1500px;
    /*padding: 0px 100px; */
    border: 0px;
    place-content: flex-start;

}

header div.contenedorHeader nav {
    width: 70%;
    display: flex;
    place-content: space-between;
    background: rgb(255, 255, 255);
    padding: 0 100px 0 100px;
    height: 100%;
}

#menu,
#menuCheck {
    display: none;
}

.contenedorHeader h1 {
    height: 100%;
    position: relative;
    margin: 0;
    margin: 0%;
    padding: 0px;
    font-size: 2.5em;
    align-items: center;
    display: flex;
}

header div.contenedorHeader nav .menusCambian li:hover {
    background-color: #efefef;
    border-bottom: 10px solid #2EB6E1;
    transition: all 300ms ease;
}

header div.contenedorHeader nav .menusSuperponen {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

header h1>span {
    color: #2EB6E1;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    place-content: space-between;
}

header a {
    color: black;
    text-decoration: none;
    padding: 1em;
}

header li {
    padding: 1em;
}

#iconUser {
    display: none;
}

#iconHelp {
    display: none;
}

/*********mediaqueries header************/

@media only screen and (max-width: 970px) {
    header {
        place-content: flex-start;
    }

    header h1 {
        margin: 0;
    }

    header h1 a {
        padding: 0;
    }

    header div.contenedorHeader {
        width: 100%;
        display: flex;
        place-content: space-between;
        padding: 0% 10%;
        align-items: center;
    }

    header div.contenedorHeader nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
        background: rgb(0, 0, 0);
        padding-top: 10em;
        padding-right: 1.5em;
        opacity: 0.8;
        color: white;
        z-index: 999;
        padding-left: 0;
        display: flex;
        place-content: space-between;
    }

    header div.contenedorHeader nav .menusCambian {
        opacity: 0.8;
        color: black;
        width: 100%;
        overflow: hidden;
    }

    #menuCheck:not(:checked)~nav {
        display: none;
    }

    #menuCheck:checked~nav {
        display: block;
    }

    #menu {
        width: 60px;
        height: 60px;
        text-align: center;
        display: block;
        color: white;
        background: #2EB6E1;
        font-size: 2em;
        font-weight: bold;
        border: 1px solid 2EB6E1;
        border-radius: 0.2em;
        padding: 0;
        z-index: 9999;
    }

    #menu:hover {
        color: white;
        background-color: #51c0e2;
        cursor: pointer;
    }

    #menuCerrar {
        display: none;
    }

    #menuCheck:checked~label #menuAbrir {
        display: none;
    }

    #menuCheck:checked~.caja {
        display: none;
    }

    #menuCheck:checked~label #menuCerrar {
        display: block;
    }

    header div.contenedorHeader nav ul a {
        color: white;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    header div.contenedorHeader nav ul a:hover {
        color: rgb(5, 5, 5);
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .menusCambian li {
        width: 92%;
    }

    header div.contenedorHeader nav ul,
    header div.contenedorHeader nav .menusCambian ul li {
        display: block;
        text-align: right;
        font-size: 1.2em;
        width: 100%;
    }

    header div.contenedorHeader nav ul,
    header div.contenedorHeader nav .menusSuperponen ul li {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: right;
        font-size: 1.2em;
    }

    header div.contenedorHeader nav .menusSuperponen {
        display: flex;
        /* align-items: end; */
        margin-top: 100px;
    }

    header div.contenedorHeader .menusCambian li:hover {
        background: rgba(180, 180, 180, 0.514);
        border: 0;
    }
}


/**para que no se rompan los botones al achicar**/

@media only screen and (max-width: 1300px) and (min-width: 971px) {
    header div.contenedorHeader nav {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 100%;
        padding-right: 0;
        height: 100%;
        margin-right: 3%;
        padding-left: 4%;
    }
    header div.contenedorHeader {
        display: flex;
        margin: 0px;
        font-weight: bolder;
        width: 100%;
        margin-left: 20px;
        border: 0px;
        padding-right: 0;
        place-content: flex-start;
        align-items: center;
    }
    header div.contenedorHeader nav .menusCambian {
        display: flex;
        align-items: center;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    header div.contenedorHeader nav .menusCambian li {
        height: 75%;
        width: 100%;
        padding-top: 4%;
    }

    header div.contenedorHeader nav .menusSuperponen {
        display: flex;
        padding: 0;
        width: 20%;
        justify-content: end;
    }
    header a {
        padding-top: 10px;
    }
    header li {
        padding: 0 0.5em;
    }
    #iconUser {
        display: block;
        padding: 0.6em;
    }
    #iconHelp {
        display: block;
        padding: 0.6em;
    }
    #botonAyuda {
        border: 12px solid gray;
        color: gray;
        font-weight: bolder;
        border-radius: 3em;
        font-size: 1em;
        padding: 10em;
        display: inline-block;
    }
    header p {
        padding: 0;
        margin: 0;
        display: none;
    }
}

/********botones header*******/
#botonAyuda {
    border: 2px solid gray;
    color: gray;
    font-weight: bolder;
    border-radius: 3em;
    font-size: 1em;
    padding: 0em 0em;
    display: inline-block;
}
#botonAyuda:hover {
    border: 2px solid gray;
    background: grey;
    color: white;
    font-weight: bolder;
    border-radius: 3em;
    font-size: 1em;
    padding: 0em 0em;
    display: inline-block;
}
#botonInic {
    border: 2px solid rgba(46, 182, 225, 1);
    color: rgba(46, 182, 225, 1);
    font-weight: bolder;
    border-radius: 2em;
    font-size: 1em;
    padding: 0em 0em;
    display: inline-block;
}
#botonInic:hover {
    border: 2px solid rgba(46, 182, 225, 1);
    color: white;
    background: rgba(46, 182, 225, 1);
    font-weight: bolder;
    border-radius: 3em;
    font-size: 1em;
    padding: 0em 0em;
    display: inline-block;
}
#iconHelp {
    color: #808080;
}
#iconHelp:hover {
    color: #fff;
}

/***************************************************/
main{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.navHelp{
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-image: url(./imagenes/blake-wisz-GFrBMipOd_E-unsplash.jpg);
    background-position-y: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    /* background-attachment: fixed; */
}
.imgHelp{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
div.contenedor {
    max-width: 1400 px;
    margin: 0px auto;
    font-weight: bolder;
}
.contenedor{
    padding: 1%;
    width: 80%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    min-width: 60%;
    display: flex;
    flex-direction: column;
}
.contenedor h3{
    padding: 0 5%;
}
.contenedor h1 {
    padding-top: 2%;
    font-size: 2.5em;;
}
.form {
    max-inline-size: 550px;
    margin:  8% auto;
}
.form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
}
.form label span {
    color: #DA1414;
}
.form input,
.form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
}
.form textarea {
    margin-block-end: 2em;
    font-family: inherit;
}
input::-webkit-input-placeholder {
    color: #0F0A0A88;
}


.contact {
    margin-block-end: 5em;
}


@media screen and (min-width: 768px) {
    .hero-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "description image";
    }

    .hero-description {
        grid-area: description;
    }

    .hero-image {
        grid-area: image;
    }

    .hero-image img {
        inline-size: 500px;
        margin-top: -50px;
    }

    .pre-projects-content {
        max-inline-size: 900px;
        margin: auto;
    }

    .project {
        grid-template-areas: "description image";
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3em;
    }

    .project-cta {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .project-cta button+button {
        margin: 0;
    }

    .testimony {
        margin: auto;
        padding: 5em;
        text-align: center;
    }

    .testimony-copy {
        font-size: 2.2em;
        line-height: 55px;
    }

    .testimony-title {
        font-size: 1.5em;
    }

    .project,
    .testimony {
        margin-block: 5em;
    }
    .form .tag span {
        display: block;
        text-align: center;
    }

}
#botonazo {
    cursor: pointer;
    width: 100px;
height: 40px;
    background: #2EB6E1;
    border: 1px solid #1693BB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}

#botonazo {
    cursor: pointer;
    width: 100px;
    height: 50px;
    background: #2e8ae1;
    border: 1px solid #1693BB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}


/**********************FOOOTER***********************/

.pie-pagina {
    width: 100%;
    background-color: #2EB6E1;
    height: min-content;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
}

.pie-pagina .grupo-1 .box h1 {
    color: #000000;
    margin-bottom: 25px;
    font-size: 50px;
}

.pie-pagina .grupo-1 .box h1 span {
    color: #fff;
    margin-bottom: 25px;
    font-size: 50px;
}




.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
    background-color: #50C6EB;
    border-radius: 5px;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #50C6EB;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}


